.filter-style {
    width: 100%;
}

.filter-container {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 100%;
}

.paginator-style {
    width: 100%;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td.mat-cell:first-of-type {
    padding-left: 10px;
    padding-right: 5px;
}

td.mat-cell:last-of-type {
    padding-right: 10px;
}
